:root {
    --primary-grayish-blue: hsl(237, 18%, 59%);
    --primary-soft-red: hsl(345, 95%, 68%);
    --white: hsl(0, 0%, 100%);
    --dark-desaturated-blue: hsl(236, 21%, 26%);
    --very-dark-blue: hsl(235, 16%, 14%);
    --almost-black-blue: hsl(234, 17%, 12%);
    --font-family: 'Red Hat Text', sans-serif;
    --background-gradient: linear-gradient(180deg, rgb(30, 30, 40), rgb(37, 29, 44));
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: var(--background-gradient);
}

.body-container {
    background: url('images/pattern-hills.svg') center bottom 0vh no-repeat, url('images/bg-stars.svg') center top 0vh repeat;
    max-width: 100%;
    margin: auto;
    padding: auto;
    background-size: 100%;
}

h1 {
    font-family: var(--font-family);
    color: var(--white);
    font-size: 22px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 7.5px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 132px;
    padding-bottom: 104px;
}

p {
    font-family: var(--font-family);
    color: var(--primary-grayish-blue);
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 5.6px;
    text-align: center;
    text-transform: uppercase;
}

/* C O U N T E R */

main {
    display: flex;
    justify-content: center;
}

.days-counter-container,
.hours-container,
.minutes-container {
    margin-right: 32px;
}

.days-container {
    position: relative;
    overflow: hidden;
    width: 148px;
    height: 160px;
    margin-bottom: 7px;
}


.days-round-right {
    background-color: #191A23;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    position: absolute;
    top: 63px;
    left: 141px;
}

.days-round-left {
    background-color: #191A23;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    position: absolute;
    top: 63px;
    left: -6px;
}

.days-container-1 {
    background-color: #2C2C44;
    height: 70px;
    width: 148px;
    left: 0px;
    top: 0px;
    border-radius: 8px 8px 0px 0px;
}

.days-container-1-opacity {
    position: absolute;
    background-color: #2C2C44;
    height: 70px;
    width: 148px;
    left: 0px;
    top: 0px;
    border-radius: 8px 8px 0px 0px;
    opacity: 20%;
}

.days-container-hr {
    background-color: #191A23;
    height: 1px;
    width: 148px;
    left: 0px;
    top: 70px;
    position: absolute;
    opacity: 40%;
    box-shadow: 1px -1px 2px #191A23;
}

.days-container-2 {
    background-color: var(--dark-desaturated-blue);
    height: 70px;
    width: 148px;
    left: 0px;
    top: 0px;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 0px 10px 1px #191A23;
}

.days-number {
    position: absolute;
    bottom: 55px;
    left: 25px;
}

.days-number,
.hours-number,
.minutes-number,
.seconds-number {
    font-family: var(--font-family);
    color: var(--primary-soft-red);
    font-size: 80px;
    font-weight: 700;
    line-height: 71px;
    letter-spacing: -2.4000000953674316px;
    text-align: center;
}

/* F O O T E R */

.social-icons {
    margin: 0 auto;
    display: flex;
    height: 24px;
    width: 24px;
    padding-bottom: 100px;
}

.facebook-icon:hover,
.pinterest-icon:hover,
.instagram-icon:hover {
    filter: opacity(0.5) drop-shadow(0 0 0 red)
}


.facebook-icon,
.pinterest-icon {
    margin-right: 32px;
}


footer {
    margin-top: 230px;
    padding-bottom: 20px;
    font-weight: 300;
    font-size: 11px;
    text-align: center;
    background-color: #2F2439;
    color: var(--primary-grayish-blue);
}

footer a {
    cursor: pointer;
    color: var(--primary-soft-red);
    text-decoration: none;
    font-weight: 400;
}

footer a:hover {
    color: var(--primary-grayish-blue);
}

footer a:active {
    color: var(--primary-soft-red);
}